body{
    background-color: #fff;
}
 img{
    height: 50%;
    width: 100%;
 }
 * {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 19px;
  }
  
  header {
    background-color: #5271ff;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 #title {
    color: #ffe500;
    margin: 0;
    font-size: 25px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  #color{
    background-color: #5271ff;
  
  }
  .box {
    margin: 100px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }